{% extends 'baseUser.html.twig' %}

{% block title %}Anaaki | {{langage}} game{% endblock %}

{% block body %}

<div class="container">
    
    
       <div id="root">
        
       </div>

       <div id="root_exo">

       </div>
      
       <div id="ajax_load"  style="display: none;" >
        <center>
            <img src="{{asset('img/ajax.gif')}}" alt="">
            <br><br>
            <div style="color:white">Chargement en cours...</div>
        </center>
     </div>

     <br><br><br><br>
    <style>
        body{
            background-image: url("{{asset('img/motivate-yourself.jpg')}}");
            background-attachment: fixed;
            background-size: cover;
        }

        #langes{
            background: white;
            color: white;
            padding: 2%;
            margin: 2%;
            
            word-wrap: break-word;
        }
        #content_q{
            background-color: black;
            color: white;
            opacity: 0.9;
            padding: 2%;
        }
        
    </style>
</div>
<br><br><br><br><br><br><br><br>
<script>
    
</script>

<input type="text" value="{{path('parties_choisir')}}" name="" id="partie_choisir" style="display: none;">
<input type="text" name="" id="lang_id" value="{{lang_id}}" style="display: none;">
<input type="text" name="" id="duree" value="{{duree}}" style="display: none;">
<input type="text" name="" id="curent_user" value="{{app.user.nom}} {{app.user.prenom}}" style="display: none;" >
<input type="text" name="" id="path_exo1" value="{{path('load_partie1')}}" style="display:none;">
<input type="text" name="" id="langue" value="{{langage}}" style="display: none;">
<input type="text" name="" id="ajax" value="{{asset('img/ajax.gif')}}" style="display: none;">
<input type="text" name="" value="{{path('progress_saver')}}" id="save_progress" style="display: none;">

<script src="{{asset('js/partie/playing.js')}}"></script>
{% endblock %}
